@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --moderate-voilet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white:  hsl(0, 0%, 100%);
    --white-50:  hsl(0, 0%, 100%, 50%);
    --white-70:  hsl(0, 0%, 100%, 70%);
    --black-50:  hsla(0, 0%, 0%, 50%);
    --black-70:  hsla(0, 0%, 0%, 70%);
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    --font-para: 13px;
    --font-500: 500;
    --font-600: 600;
}

body{
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: var(--light-grayish-blue);
    min-height: 100vh;
    display: grid;
    place-content: center;
}



#testimonials_section {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "one"
    "two"
    "three"
    "four"
    "five";
    gap: 1.5rem;
    width: min(90%,70rem);
    margin-inline: auto;
    padding-block: 2rem;
}

.cards:nth-child(1){
    grid-area: one;
}
.cards:nth-child(2){
    grid-area: two;
}
.cards:nth-child(3){
    grid-area: three;
}
.cards:nth-child(4){
    grid-area: four;
}
.cards:nth-child(5){
    grid-area: five;
}

#testimonial_head{
    display: flex;
    align-items: center;
}

#testimonial_head > img {
    border-radius: 50%;
    width: 30px;
    margin-right: 1rem;
}

.cards{
    font-size: var(--font-para);
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow:1px 2px 20px 5px rgba(0, 0, 0, 0.2);
}

.cards > h2{
    font-size: 20px;
    font-weight: 500;
    margin-block: 1rem;
    line-height: 1.2;
}

.cards h3{
    font-weight: 500;
    font-size: var(--font-para);
    line-height: 1;
}

.param-white{
    line-height: 1.5;
    color: var(--white-70);
    /* font-weight: 500; */
}

.param-black{
    line-height: 1.5;
    color: var(--black-70);
    /* font-weight: 500; */
}

.para-white{
    color: var(--white-50);
    line-height: 1.5;
    font-weight: 500;
    font-size:11px;
}

.para-black{
    color: var(--black-50);
    line-height: 1.5;
    font-weight: 500;
    font-size:11px;
}

.purple{
    background-color: var(--moderate-voilet);
    color: var(--white);
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position:top right 10%;
  
}

.white{
    background-color: var(--white);
}

.gray{
    background-color: var(--very-dark-grayish-blue);
    color: var(--white);
}

.black{
    background-color: var(--very-dark-blackish-blue);
    color: var(--white);
}

@media  screen and (min-width:35em) {
    #testimonials_section{
        grid-template-areas: 
        "one one "
         "two three"
         "five five"
        "four four";
    }
}


@media  screen and (min-width:40em) {
    #testimonials_section{
        grid-template-areas: 
        "one one "
         "two five"
         "three five"
        "four four";
    }
}


@media  screen and (min-width:55em) {
    #testimonials_section{
        grid-template-areas: 
        "one one  two"
         "five five five"
        " three four four";
    }
}


@media screen and (min-width:75em){

    #testimonials_section{
        grid-template-areas: 
        "one one two five"
        "three four four five";
      
    }

   

    /* #testimonials_section{
        grid-template-columns: repeat(4,1fr);
    }

    .grid-span-2{
        grid-column: span 2;
    }

    .three{
        grid-column-start: 4;
        grid-row: 1/3;
    } */
}